.payment_header {
  padding: 20px;
  text-align: center;
  font-size: 24px;
  background-color: rgb(234, 237, 237);
}

.payment {
  padding: 30px;
}

.flex {
  display: flex;
  padding: 30px;
}

.flex h3 {
  min-width: 300px;
}
.flex img {
  width: 9em;
}
.payment_card_container {
  width: 100%;
  max-width: 350px;
}
.payment_price {
  padding: 20px;
}
.payment_price > div {
  display: flex;
  font-size: 16px;
  gap: 10px;
}
.payment_details button {
  margin-top: 15px;
  border: none;
  border-radius: 0.3em;
  width: 100%;
  height: 2.1em;
  margin-top: 1em;
  cursor: pointer;
  background: var(--primary-color);
}
.payment_details button:hover {
  background: var(--primary-shade);
}
.processing {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: rgb(52, 52, 52);
}
@media screen and (max-width: 768px) {
  .flex {
    flex-direction: column;
  }
}
